QPushButton {
    color: %(TEXT_COLOR)s;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: %(SECONDARY_COLOR)s;
}

QPushButton:pressed {
    background-color: %(SECONDARY_COLOR)s;
}

QWidget#TopBar {
    background-color: %(PRIMARY_COLOR)s;
    padding: 12px;
}

QPushButton {
    text-align: left;
}
