#MemberCard {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 14px;
    
}

#MemberCard:hover {
    border: 2px solid %(PRIMARY_COLOR)s;
}

#PhotoLabel {
    background-color: red;
}

#NameLabel {
    font-weight: bold;
    font-size: 16px;
    color: #0A0A0A ;
    margin-top: 10px;
}

#CreditLabel {
    font-size: 14px;
    color: #8B5E3C;
    margin-top: 4px;
}
